
@model List<Client.Models.Message>
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Button.css")

<h2>Choose a queue</h2>
<form name="chooseQueue" method="post" action='@Url.Action("Index","Queue")'>
    <br>
    User
    <input id="userQueue" name="userQueue" type="text" maxlength="100" />
    <br>
    Queue ID
    <input id="queueID" name="queueID" type="text" maxlength="100" />
    <br>
    <input type="submit" value="Choose" class="button" onclick="if ( ! validate()) return false;" language="javascript" />
    <input type="reset" class="button2" value="Cancel" />

</form>
@if (Model != null) {
    <h2>States</h2>
    <table>
        <tr>
            @if (Model[0].source != null) {
                foreach (Client.Models.State state in Model[0].source.State) {

                    <th>
                        ID
                        @state.Property
                    </th>
                }

            } else {
                <h3>Source is null</h3>
            }
        </tr>
        <tr>
            @foreach (Client.Models.State state in Model[0].source.State) {
                <th>
                    @state.Id
                    @state.Value
                </th>
            }
        </tr>
    </table>
}
